@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
body {
  background-color: #c8c8c8;
}
.container {
  margin: 0 auto;
  background-color: #fff;
  max-width: 1280px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}
header {
  min-height: 75px;
  background-color: rgba(200, 200, 200, 0.6);
  background-size: cover;
  color: #777;
  clip-path: polygon(0% 0%, 0% 88%, 48% 88%, 50% 100%, 100% 100%, 100% 0%);
  border-bottom: 1px solid #d5d5f8;
  padding: 25px 75px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
header .header__title img {
  width: 200px;
  filter: hue-rotate(25deg);
}
header .header__menudiv {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.menu {
  height: 30px;
  display: flex;
  justify-content: right;
}
.menu__item {
  display: block;
  text-decoration: none;
  list-style-type: none;
  margin: 10px;
  height: 25px;
}
.menu__item a {
  display: block;
  font-family: "Montserrat", sans-serif;
  height: 20px;
  font-size: 20px;
  color: #600000;
  font-weight: 700;
  text-decoration: none;
}
.menu__item a:hover {
  color: black;
  font-weight: 600;
  border-bottom: 2px solid black;
}
.userInfo {
  max-width: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.userInfo__photo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.userInfo__userName {
  width: 100%;
  text-align: center;
}
.breadCrumbs {
  position: absolute;
  bottom: 5px;
  left: 51%;
  color: #5c0325;
  font-style: italic;
}
.breadCrumbs .breadCrumbs__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  height: 20px;
  color: maroon;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.013);
}
.breadCrumbs .breadCrumbs__link:hover {
  color: black;
  font-weight: 500;
  border-bottom: 1px solid black;
}
main {
  color: #333;
  padding: 25px 75px;
}
h1 {
  width: 100%;
  color: #777;
  background: linear-gradient(to bottom, #fff, #f3f3f3 50%, #fff 50%, #f3f3f3);
  background-size: 100% 10px;
}
.controlPanel {
  width: 100%;
  height: 30px;
  color: orangered;
  background-color: #f9f9 f;
  border-bottom: 2px solid #ddd;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.card {
  margin: 10px;
  background-color: #f8f8f8;
  width: 200px;
  height: 200px;
  outline: 1px solid #ccc;
  box-shadow: 7px 7px 5px 0px rgba(201, 201, 201, 0.75);
  padding: 5px;
}
.card__header {
  font-size: medium;
  color: maroon;
}
.card__description {
  height: 100px;
  font-size: smaller;
  font-style: italic;
  overflow: hidden;
  background-color: #fff;
}
.card__itemsInfo {
  height: 20px;
  text-align: right;
  font-size: smaller;
  font-style: italic;
  padding-right: 5px;
}
.card__editBtn,
.card__deleteBtn {
  font-size: small;
  font-style: italic;
  color: #333;
  background-color: rgba(255, 166, 0, 0.14);
  border: 1px solid #ccc;
  height: 25px;
  border-radius: 12px;
  float: right;
  margin: 5px;
}
.card__showItemsBtn {
  font-size: small;
  font-style: italic;
  color: #333;
  background-color: rgba(255, 166, 0, 0.14);
  border: 1px solid #ccc;
  height: 25px;
  border-radius: 12px;
  margin: 5px;
}
.card__editBtn:hover,
.card__deleteBtn:hover,
.card__showItemsBtn:hover {
  background-color: #222;
  color: blanchedalmond;
}
.searchForm {
  margin-top: 5px;
  position: relative;
  width: 200px;
  background-color: rgba(255, 166, 0, 0.14);
}
.searchForm__input {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-right: 0;
  padding-right: 0;
  font-size: 14px;
  font-style: italic;
  padding-left: 20px;
  background-color: inherit;
}
.searchForm__button {
  position: absolute;
  top: 3px;
  left: 3px;
  padding-left: 0;
  background-color: rgba(255, 166, 0, 0.14);
  color: gray;
  border: none;
  border-radius: 5px;
}
.addBtn {
  background-color: rgba(255, 166, 0, 0.3);
  border: 1px solid #ccc;
  height: 25px;
  border-radius: 10px;
  margin-top: 0px;
}
.addBtn:hover {
  background-color: #222;
  color: blanchedalmond;
}
.summaryBand {
  min-height: 30px;
  border-top: 2px solid #ddd;
  text-align: right;
  font-style: italic;
}
footer {
  min-height: 100px;
  background-color: rgba(200, 200, 200, 0.6);
  color: #222;
  padding: 30px;
  text-align: right;
  font-style: italic;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 15%, 50% 15%, 48% 0%);
}
footer .footer__column {
  width: 30%;
  margin: 15px;
}
